In [1]:
import pandas as pd
import numpy as np
import statistics as st
print(round(st.mean([5,4,6,2,1,1,5,2,5,9,7]), 2))
print(round(st.mode([5,4,6,2,1,1,5,2,5,9,7]), 2))
print(round(st.median([5,4,6,2,1,1,5,2,5,9,7]), 2))

4.27
5
5

In [26]:
df = pd.DataFrame({'Наименование курса':['Первичная обработка данных', 'Хранение и обработка данных', 
                                         'Элементы математической статистики', 'Машинное обучение'], 
                   'Количество студентов':[121, 4589, 112, 345]
                  })
df

                   Наименование курса  Количество студентов
0          Первичная обработка данных                   121
1         Хранение и обработка данных                  4589
2  Элементы математической статистики                   112
3                   Машинное обучение                   345

### Natural logarithmic value of a column

In [29]:
# Calculate natural logarithm
df['Логарифмирование'] = round(np.log(df['Количество студентов']), 2)
df

                   Наименование курса  Количество студентов  Логарифмирование
0          Первичная обработка данных                   121              4.80
1         Хранение и обработка данных                  4589              8.43
2  Элементы математической статистики                   112              4.72
3                   Машинное обучение                   345              5.84

### Нормировка данных

In [2]:
from sklearn import preprocessing

In [7]:
df = np.array([6, 9, 5, 17, 9])
norm_df = preprocessing.normalize([df])
print(norm_df)

[[0.26516504 0.39774756 0.22097087 0.75130096 0.39774756]]

### Целевая функция