# JSON формат

Импрортируем библиотеку

In [1]:
import json

Обращение к объектам JSON

In [2]:
data = """{
 "student" : [
 {
 "id" : 1234,
 "name" : "studentA",
 "groupNum" : "A1234"
 },
 {
 "id" : 1238,
 "name" : "studentB",
 "groupNum" : "A4321"
 }
 ],
 "completed": false
}"""
data_json = json.loads(data)  # из JSON в Python

In [3]:
print(data_json["student"]) # выводим список объектов для ключа "student"

[{'id': 1234, 'name': 'studentA', 'groupNum': 'A1234'}, {'id': 1238, 'name': 'studentB', 'groupNum': 'A4321'}]

In [4]:
for lst in data_json["student"]:
 print(" Объект для ключа 'student':", lst) # выводим каждый объект списка
 print("Ключ-значение для объекта")
 for key, value in lst.items():
  print(key, value) # выводим ключ-значение для объекта

 Объект для ключа 'student': {'id': 1234, 'name': 'studentA', 'groupNum': 'A1234'}
Ключ-значение для объекта
id 1234
name studentA
groupNum A1234
 Объект для ключа 'student': {'id': 1238, 'name': 'studentB', 'groupNum': 'A4321'}
Ключ-значение для объекта
id 1238
name studentB
groupNum A4321

In [5]:
result_list = [v for lst in data_json["student"] for k, v in lst.items()] # выводим только значения для ключа "student"
print(" Только значения для ключа 'student':")
print(result_list)
print(" Значение для ключа 'completed':")
print(data_json["completed"])

 Только значения для ключа 'student':
[1234, 'studentA', 'A1234', 1238, 'studentB', 'A4321']
 Значение для ключа 'completed':
False

In [6]:
data = {
 'student' : [
 {
"id" : 1234,
 "name" : "studentA",
 "groupNum" : "A1234"
 },
 {
 "id" : 1238,
 "name" : "studentB",
 "groupNum" : "A4321"
 }
 ],
 "completed": False
 }

In [7]:
data_json = json.dumps(data) # из словаря Python в Json
print(data_json)

{"student": [{"id": 1234, "name": "studentA", "groupNum": "A1234"}, {"id": 1238, "name": "studentB", "groupNum": "A4321"}], "completed": false}

In [8]:
data_json = json.dumps(data, indent=4)
print(data_json)

{
    "student": [
        {
            "id": 1234,
            "name": "studentA",
            "groupNum": "A1234"
        },
        {
            "id": 1238,
            "name": "studentB",
            "groupNum": "A4321"
        }
    ],
    "completed": false
}


*   separators - разделители используемые в JSON (по умолчанию separators = None);
*   sort_keys - сортировка (по умолчанию sort_keys = False);
*   allow_nan - обработка значений nan, inf, -inf (по умолчанию allow_nan = True);
*   default - функция для значений, которые не могут быть обработы стандартным способом (по умолчанию default = None).

In [9]:
print(json.dumps(data, indent=4, sort_keys=True))

{
    "completed": false,
    "student": [
        {
            "groupNum": "A1234",
            "id": 1234,
            "name": "studentA"
        },
        {
            "groupNum": "A4321",
            "id": 1238,
            "name": "studentB"
        }
    ]
}

In [10]:
data_python = json.loads(data_json)
print(data_python)
print(type(data_python))

{'student': [{'id': 1234, 'name': 'studentA', 'groupNum': 'A1234'}, {'id': 1238, 'name': 'studentB', 'groupNum': 'A4321'}], 'completed': False}
<class 'dict'>

Параметры метода .loads():
*    object_hook - функция для обработки данных (по умолчанию
object_hook = None);
*   parse_int - функция для обработки данных похожих по типу на int (по
умолчанию parse_int = None);
*   parse_float - функция для обработки данных похожих по типу на float
(по умолчанию parse_float = None);
*   parse_constant - функция для обработки значений nan, inf, -inf (по умол-
чанию parse_constant = None);

In [11]:
data = '''{
"student" : [
 {
"id" : 1234,
 "name" : "studentA",
 "groupNum" : "A1234"
 },
 {
 "id" : 1000.43,
 "name" : "studentB",
 "groupNum" : null
 }
 ],
 "completed": false
 }'''

In [12]:
def TestFunction(dict):  #заменим значения ключа «name» на русский перевод, т.е. «student» заменим на «студент»
  if dict.get("name") != None:
    dict["name"] = dict["name"].replace("student", "студент")
  return dict

In [13]:
json.loads(data, object_hook = lambda dict: TestFunction(dict))

{'student': [{'id': 1234, 'name': 'студентA', 'groupNum': 'A1234'},
  {'id': 1000.43, 'name': 'студентB', 'groupNum': None}],
 'completed': False}

Трансформация данных из формата JSON
в словарь Python

In [14]:
a = 1234
b = 1000.43
data = {
"student" : [
 {
"id" : a,
 "name" : "studentA",
 "groupNum" : "A1234"
 },
 {
 "id" : b,
 111 : "studentB",
 "groupNum" : None
 }
 ],
 "completed": False
 }
print("a =", a, type(a))
print("b =", b, type(b))
#print(data)
data_json = json.dumps(data) # из словаря Python в Json
print("из словаря Python в Json:", data_json)
data_python = json.loads(data_json) # из Json в словарь Python
print("из Json в словарь Python:", data_python)
print("a_new =", data_python["student"][0]["id"],type(data_python["student"][0]["id"]))
print("b_new =", data_python["student"][1]["id"],type(data_python["student"][1]["id"]))

a = 1234 <class 'int'>
b = 1000.43 <class 'float'>
из словаря Python в Json: {"student": [{"id": 1234, "name": "studentA", "groupNum": "A1234"}, {"id": 1000.43, "111": "studentB", "groupNum": null}], "completed": false}
из Json в словарь Python: {'student': [{'id': 1234, 'name': 'studentA', 'groupNum': 'A1234'}, {'id': 1000.43, '111': 'studentB', 'groupNum': None}], 'completed': False}
a_new = 1234 <class 'int'>
b_new = 1000.43 <class 'float'>

Методы .load() и .dump()

In [15]:
with open("/content/sample_data/data.json") as file:
 data1 = file.read() #сначала считываем данные из файла
 print(data1)
 data_json1 = json.loads(data1) # преобразуем в объект Phython
print(data_json1)

{
"student" : [
 {
"id" : 1234,
 "name" : "studentA",
 "groupNum" : "A1234"
 },
 {
 "id" : 2345,
 "name" : "studentB",
 "groupNum" : null
 }
 ],
 "completed": false
 }
{'student': [{'id': 1234, 'name': 'studentA', 'groupNum': 'A1234'}, {'id': 2345, 'name': 'studentB', 'groupNum': None}], 'completed': False}

In [16]:
with open("/content/sample_data/data.json") as file:
# сразу читаем файл и преобразуем в объект Phython
  data_json2 = json.load(file)
print(data_json2)

{'student': [{'id': 1234, 'name': 'studentA', 'groupNum': 'A1234'}, {'id': 2345, 'name': 'studentB', 'groupNum': None}], 'completed': False}

In [17]:
data1 = {'student': [{'id': None, 'groupNum': 1234}], 5: True} #  объект Phython
with open("/content/sample_data/data.json_d","w") as file:
  data_json_d = json.dumps(data1) # преобразуем в формат JSON
  file.write(data_json_d) # записываем в файл

In [18]:
with open("data.json_d","w") as file:
 json.dump(data1,file) # сразу преобразуем в формат JSON и записываем в файл