In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.options.mode.chained_assignment = None

Загружаем данные из .csv файла

In [ ]:
df = pd.read_csv('/content/sample_data/task1_v2_2_542183.csv')
df

,Точка маршрута,Рейс 1,Рейс 2,Рейс 3,Рейс 4
0,28-29-Я ЛИНИИ,07:12:40,07:30:00,07:42:00,07:57:30
1,22-23-Я ЛИНИИ,07:13:30,07:30:50,07:42:50,07:58:20
2,МУЗЕЙ ГОРОДСКОГО ТРАНСПОРТА,07:16:00,00:00:00,07:45:30,08:00:10
3,12-13-Я ЛИНИИ,07:18:00,00:00:00,07:47:30,08:02:20
4,"МЕТРО ""ВАСИЛЕОСТРОВСКАЯ""",07:20:00,00:00:00,07:50:10,08:04:20
5,1-Я И КАДЕТСКАЯ ЛИНИИ,07:21:30,00:00:00,07:51:40,08:05:40
6,"1-Я И КАДЕТСКАЯ ЛИНИИ. МЕТРО ""СПОРТИВНАЯ""",07:23:00,00:00:00,07:53:00,08:06:40
7,"МЕТРО ""СПОРТИВНАЯ""",07:24:00,07:42:10,07:54:10,08:08:20
8,КРОНВЕРКСКИЙ ПРОСПЕКТ,07:25:10,07:43:40,07:55:40,08:09:30
9,ЗВЕРИНСКАЯ УЛ.,07:26:50,07:45:20,07:56:50,08:10:30
10,ВВЕДЕНСКАЯ УЛ.,07:28:10,07:46:20,07:58:20,08:12:00
11,СЫТНЫЙ РЫНОК,07:29:40,07:47:40,07:59:30,08:13:00
12,"МЕТРО ""ГОРЬКОВСКАЯ""",07:30:40,07:49:20,08:00:40,08:14:30
13,ТРОИЦКАЯ ПЛ. П.С.,07:31:40,07:50:50,08:02:00,08:15:30
14,УЛИЦА ЧАПАЕВА,07:33:10,07:52:10,08:03:40,08:17:10

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Точка маршрута  15 non-null     object
 1   Рейс 1          15 non-null     object
 2   Рейс 2          15 non-null     object
 3   Рейс 3          15 non-null     object
 4   Рейс 4          15 non-null     object
dtypes: object(5)
memory usage: 728.0+ bytes

In [ ]:
column_of_interest = df.columns[df.isin(['00:00:00']).any()][0]
print(column_of_interest)

Рейс 2

Определяем новый датафрейм, содержащий только записи с пропущенными значениями.

In [ ]:
df_new0 = df.loc[np.where(df[column_of_interest].isin(['00:00:00']))]
df_new0

,Точка маршрута,Рейс 1,Рейс 2,Рейс 3,Рейс 4
2,МУЗЕЙ ГОРОДСКОГО ТРАНСПОРТА,07:16:00,00:00:00,07:45:30,08:00:10
3,12-13-Я ЛИНИИ,07:18:00,00:00:00,07:47:30,08:02:20
4,"МЕТРО ""ВАСИЛЕОСТРОВСКАЯ""",07:20:00,00:00:00,07:50:10,08:04:20
5,1-Я И КАДЕТСКАЯ ЛИНИИ,07:21:30,00:00:00,07:51:40,08:05:40
6,"1-Я И КАДЕТСКАЯ ЛИНИИ. МЕТРО ""СПОРТИВНАЯ""",07:23:00,00:00:00,07:53:00,08:06:40

In [ ]:
df_new0.isnull().any()

Точка маршрута    False
Рейс 1            False
Рейс 2            False
Рейс 3            False
Рейс 4            False
dtype: bool

Находим пограничные индексы

In [ ]:
df_new0.index.to_list()

[2, 3, 4, 5, 6]

In [ ]:
index_min = min(df_new0.index.to_list()) - 1
print(index_min)
index_max = max(df_new0.index.to_list()) + 1
print(index_max)

1
7

Другой вариант

In [ ]:
index_min = df_new0.index[0] - 1
print(index_min)
index_max =df_new0.index[-1] + 1
print(index_max)

1
7

Переопределяем датафрейм с учетом данных до пропусков

In [ ]:
df_new = df.loc[index_min:index_max]
df_new

,Точка маршрута,Рейс 1,Рейс 2,Рейс 3,Рейс 4
1,22-23-Я ЛИНИИ,07:13:30,07:30:50,07:42:50,07:58:20
2,МУЗЕЙ ГОРОДСКОГО ТРАНСПОРТА,07:16:00,00:00:00,07:45:30,08:00:10
3,12-13-Я ЛИНИИ,07:18:00,00:00:00,07:47:30,08:02:20
4,"МЕТРО ""ВАСИЛЕОСТРОВСКАЯ""",07:20:00,00:00:00,07:50:10,08:04:20
5,1-Я И КАДЕТСКАЯ ЛИНИИ,07:21:30,00:00:00,07:51:40,08:05:40
6,"1-Я И КАДЕТСКАЯ ЛИНИИ. МЕТРО ""СПОРТИВНАЯ""",07:23:00,00:00:00,07:53:00,08:06:40
7,"МЕТРО ""СПОРТИВНАЯ""",07:24:00,07:42:10,07:54:10,08:08:20

In [ ]:
type(df_new[column_of_interest].iloc[-1])

str

Меняем тип данных на "timedelta"

In [ ]:
df_new['Рейс 1'] = pd.to_timedelta(df_new['Рейс 1'])
df_new['Рейс 2'] = pd.to_timedelta(df_new['Рейс 2'])
df_new['Рейс 3'] = pd.to_timedelta(df_new['Рейс 3'])
df_new['Рейс 4'] = pd.to_timedelta(df_new['Рейс 4'])

In [ ]:
df_new['Длительность прохождения аналогичных интервалов рейса 1'] = df_new['Рейс 1'].diff()
df_new['Длительность прохождения аналогичных интервалов рейса 3'] = df_new['Рейс 3'].diff()
df_new['Длительность прохождения аналогичных интервалов рейса 4'] = df_new['Рейс 4'].diff()

In [ ]:
df_new['Средняя длительность прохождения интервалов'] = df_new.iloc[:, [5,6,7]].mean(axis=1)
#.dt.round('1s')

In [ ]:
interval = df_new[column_of_interest].diff(periods= 6).iloc[-1]
print(interval)

0 days 00:11:20

In [ ]:
interval_SUM = df_new.loc[2:7,'Средняя длительность прохождения интервалов'].sum()
print(interval_SUM)

0 days 00:10:36.666666664

In [ ]:
coef = interval/interval_SUM

In [ ]:
print(coef)

1.0680628272296044

In [ ]:
df_new['Предполагаемая длительность  прохождения интервалов рейса 2'] = df_new['Средняя длительность прохождения интервалов'] * coef

In [ ]:
for i in range(2,7):
  df_new[column_of_interest].loc[i] = df_new[column_of_interest].loc[i - 1] + df_new['Предполагаемая длительность  прохождения интервалов рейса 2'].loc[i]

In [ ]:
df_new[column_of_interest] = df_new[column_of_interest].dt.round('1s')

In [ ]:
df_new[column_of_interest] = df_new[column_of_interest].astype(str).str.split('0 days ').str[-1]

In [ ]:
df_new[column_of_interest][1:6]

2    07:33:20
3    07:35:31
4    07:37:54
5    07:39:26
6    07:40:48
Name: Рейс 2, dtype: object